$radius: 12px;

$pad-sm: 3px;
$pad-bg: 7px;

$bg-color: #2f2f2f;
$accent: hsla(36, 73%, 61%, 0.50);

$font-tiny: 14px;
$font-small: 16px;
$font-regular: 20px;
$font-big: 24px;

$font-color: rgb(240, 240, 240);

@font-face {
    font-family: "Inter";
    src: url("/media/font/Inter/Inter-VariableFont_slnt\,wght.ttf");
}


@mixin rounded {
    border-radius: 10px;
    padding: 10px;
    border: none;
  }


html {
    background-color: $bg-color;
    background-image: url(/media/img/bg-image-2.png);
    background-repeat: no-repeat;
    background-position: top;
    font-family: Inter, sans-serif;
    color: $font-color;
}

body * {
    color: $font-color;
    font-size: $font-regular;
}

body {
    margin: 15vh 15vw 0 15vw;
}

.logo {
    display: flex;
    flex-direction: row;

    .motto {
        margin-left: 60px;
        align-self: center;
        font-size: $font-regular;
        font-weight: 200;

    }
}

.search-area {
    margin-top: 50px;

    #searchBox, #searchBtn {
        @include rounded;
        width: auto;
        background-color: $accent;
    }

    #platform {
        @include rounded;
        width: 10vw;

        background-color: $accent;

    }

}


#result {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
}

#gameBox {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: flex-end;
    border: 2px solid $accent;
    border-radius: $radius;
    padding: $pad-sm;
    margin: 4px;
    width: 12vw;
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 200ms ease-in-out;

}

#gameBox:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#gameTitle {
    width: 100%;
    background-color: #2f2f2f;
    border-radius: $radius;
    padding: $pad-bg;
    color: $accent;
    font-size: $font-small;
}