@font-face {
  font-family: "Inter";
  src: url("/media/font/Inter/Inter-VariableFont_slnt,wght.ttf");
}
html {
  background-color: #2f2f2f;
  background-image: url(/media/img/bg-image-2.png);
  background-repeat: no-repeat;
  background-position: top;
  font-family: Inter, sans-serif;
  color: rgb(240, 240, 240);
}

body * {
  color: rgb(240, 240, 240);
  font-size: 20px;
}

body {
  margin: 15vh 15vw 0 15vw;
}

.logo {
  display: flex;
  flex-direction: row;
}
.logo .motto {
  margin-left: 60px;
  align-self: center;
  font-size: 20px;
  font-weight: 200;
}

.search-area {
  margin-top: 50px;
}
.search-area #search {
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 30vw;
  background-color: hsla(36, 73%, 61%, 0.5);
}
.search-area #platform {
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 10vw;
  background-color: hsla(36, 73%, 61%, 0.5);
}

option * {
  padding: 8vh;
}